.container {
  margin-top: 2rem;
}

.carousel-container {
  overflow: hidden;
  height: 375px;
}

@media (max-width: 1024px) {
  .container {
    margin-top: 1rem;
  }

  .container h3 {
    margin-bottom: 0.8rem;
  }

  .carousel-container {
    height: 300px;
  }
}

@media (max-width: 464px) {
  .container {
    margin-top: 1.2rem;
  }

  .container h3 {
    font-size: 1.2rem;
    margin-bottom: 0.4rem;
  }

  .carousel-container {
    height: 180px;
  }
}
