.banner {
  height: 56vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.banner::before {
  content: "";
  background: linear-gradient(to top, black, transparent);
  position: absolute;
  left: 0;
  height: 56vh;
  width: 100%;
}

.banner-text-area {
  width: 36%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  margin-left: 1.5rem;
}

/* .banner-text-area * {
  z-index: 2;
} */

@media (max-width: 767px) {
  .banner-text-area {
    width: 80%;
    align-items: steart;
    justify-content: end;
  }

  .banner-text-area * {
    z-index: 2;
    opacity: 0.8;
  }

  .banner-text-area-title {
    font-size: 1.4rem;
  }

  .banner-text-area-overview {
    margin-bottom: 0;
    font-size: 0.9rem;
  }
}
