.homepage-wrap {
  padding-bottom: 6rem;
}

@media (max-width: 1024px) {
  .homepage-wrap {
    padding-bottom: 5rem;
  }
}

@media (max-width: 464px) {
  .homepage-wrap {
    padding-bottom: 4rem;
  }
}
