.not-found-container {
  display: flex;
  flex-direction: column;
  padding-top: 5rem;
  height: 100dvh;
  align-items: center;
  text-align: center;
  background-color: black;
}

.not-found-container * {
  color: white;
}

.title {
  font-size: 6rem;
  margin-bottom: 0;
}
